# ========================
# Python related
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec
.pytest_cache

# ========================
# Virtual environment
# ========================
.venv/
venv/
env/
ENV/

# Environment files
.env

.vscode/
*.code-workspace

# ========================
# Pytest / Reports
# ========================
html_report.html
report.html
*.xml
*.log
*.tmp
reports/
screenshots/
logs/

# Generated data
test_data/Query.xlsx

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Others
# ========================
.idea/
*.iml